Repository gwpy/gwsumm, pull requests merged in 2019-10, with the labels that each got.

#293 Discover frametype dynamically if passed a cache file
  gwsumm/data/timeseries.py
Labels: bug-fix, enhancement

#295 Link to DQR from GW Events tables
  gwsumm/tabs/gracedb.py
Labels: enhancement, feature-request, html

#296 Implement flake8 checks during travis-CI builds
  .travis.yml
  CONTRIBUTING.md
  README.rst
  bin/gw_summary
  bin/gw_summary_pipe
  bin/gwsumm-plot-guardian
  bin/gwsumm-plot-triggers
  docs/index.rst
  gwsumm/archive.py
  gwsumm/data/__init__.py
  gwsumm/data/coherence.py
  gwsumm/data/spectral.py
  gwsumm/html/__init__.py
  gwsumm/html/bootstrap.py
  gwsumm/html/html5.py
  gwsumm/html/tests/test_bootstrap.py
  gwsumm/html/tests/test_html5.py
  gwsumm/plot/__init__.py
  gwsumm/plot/sei.py
  gwsumm/plot/triggers.py
  gwsumm/tabs/__init__.py
  gwsumm/tabs/builtin.py
  gwsumm/tabs/data.py
  gwsumm/tabs/etg.py
  gwsumm/tabs/gracedb.py
  gwsumm/tabs/sei.py
  gwsumm/tests/test_config.py
  gwsumm/tests/test_plot.py
  requirements.txt
  setup.cfg
  setup.py
Labels: build-and-test, enhancement

#297 Implement acorn checks for GWSumm JavaScript
  .stylelintrc.yml
  .travis.yml
  setup.py
  share/sass/gwsumm.scss
Labels: build-and-test, enhancement

#276 Allow users to select and overlay plots
  gwsumm/html/html5.py
  gwsumm/html/tests/test_html5.py
  gwsumm/tabs/builtin.py
  gwsumm/tabs/core.py
Labels: enhancement, feature-request, html, plotter

#298 Fix JS minification and jQuery version pin
  gwsumm/html/static.py
  gwsumm/html/tests/test_static.py
  setup.py
Labels: bug-fix, build-and-test, html
